---
type Props = {
	href?: string
	target?: string
	isButton?: boolean
}

const { href, isButton, target } = Astro.props
---

{
	isButton ? (
		<button class='button'>
			<slot name='icon-before' />
			<span class='button-text'>
				<slot />
			</span>
			<slot name='icon-after' />
		</button>
	) : (
		<a class='button' href={href} target={target}>
			<slot name='icon-before' />
			<span class='button-text'>
				<slot />
			</span>
			<slot name='icon-after' />
		</a>
	)
}

<style lang='scss'>
	.button {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.3em;

		padding: 0.5rem 0.8rem;

		border: transparent;
		border-radius: var(--border-radius);
		background-color: var(--p-color);
		color: var(--btn-text-color);

		text-decoration: none;

		cursor: pointer;
		transition: var(--color-transition);

		&:hover {
			background-color: var(--s-color);
		}

		&-text {
			display: none;
			font-weight: 700;
			letter-spacing: 0.1em;

			@media (min-width: 768px) {
				display: block;
			}
		}
	}
</style>
