---
import ExperienceCard from './ExperienceCard.astro'
import Card from './Card.astro'
---

<section class='experience sect-g' id='experience'>
	<header class='experience-header'>
		<Card>
			<h2 class='experience-title mx-0' slot='content'>Experience</h2>
		</Card>
	</header>
	<ExperienceCard />
	<ExperienceCard />
</section>
<style lang='scss'>
	.experience {
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));

		@media screen and (min-width: 1124px) {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
		}
		&-header {
			grid-column: 1 / -1;
		}

		&-title {
			font-size: 2rem;
			font-weight: 500;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.5rem;
			color: var(--p-color);
		}
	}
</style>
