---
import Card from './Card.astro'
import WritterMachine from './WritterMachine.astro'

const writterText = 'Welcome to my digital world.'
---

<main class='main wp-g'>
	<section class='home'>
		<article class='presentation'>
			<Card>
				<img
					src='/images/pp.webp'
					alt=''
					slot='content'
					class='presentation-image'
				/>
				<div class='presentation-content' slot='content-right'>
					<h1 class='presentation-title mx-0'>Web Developer</h1>
					<h3 class='presentation-name mx-0'>Bryan Lazo</h3>
					<span class='presentation-slogan mx-0'
						>Coffee, Creativity, and Code.</span
					>
				</div>
			</Card>
		</article>
		<article class='welcome'>
			<Card>
				<WritterMachine slot='content' width={writterText.length}>
					{writterText}
				</WritterMachine>
			</Card>
			<Card>
				<WritterMachine slot='content' width={writterText.length}>
					{writterText}
				</WritterMachine>
			</Card>
		</article>
	</section>
</main>
<style lang='scss'>
	.home {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
		align-items: flex-start;
		gap: 1rem;
		grid-column: 2/3;

		@media (min-width: 768px) {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 420px), 1fr));
		}

		@media (min-width: 1024px) {
			grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
		}
		&-welcome {
			font-size: 2rem;
		}
	}

	.mx-0 {
		margin-block: 0;
	}

	.welcome {
		display: flex;
		flex-wrap: wrap;

		gap: 1rem;
	}
	.presentation {
		&-image {
			display: block;
			width: min(100% - 1rem, 250px);
			height: 100%;

			object-fit: cover;
			border-top-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}

		&-title {
			font-size: 0.8rem;
			font-weight: 300;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			color: var(--text-s-color);
		}

		&-name {
			font-size: 1.7rem;
			font-weight: 700;
			letter-spacing: 0.2rem;
			color: var(--s-color);
		}

		&-slogan {
			font-size: .8rem;
			font-weight: 300;
			color: var(--text-s-color);
		}
	}
</style>
