---
import ButtonIcon from './ButtonIcon.astro'
import Dropbox from './Dropbox.astro'
import GithubIcon from './Icons/GithubIcon.astro'
import LinkedinIcon from './Icons/LinkedinIcon.astro'
import MailIcon from './Icons/MailIcon.astro'
import NavList from './NavList.astro'
---

<nav class='nav wp-g' aria-label='Primary'>
	<div class='nav-container'>
		<div class='nav-buttons'>
			<ButtonIcon href='https://github.com/blazo-dev' target='_blank'>
				<GithubIcon slot='icon-before' />
			</ButtonIcon>
			<ButtonIcon
				href='https://www.linkedin.com/in/bryanlazodev/'
				target='_blank'
			>
				<LinkedinIcon slot='icon-before' />
			</ButtonIcon>
		</div>
		<div class='nav-list'><NavList /></div>
		<div class='nav-buttons'>
			<ButtonIcon href='#contact'>
				<MailIcon slot='icon-before' />
				 Get in touch
			</ButtonIcon>
			<div class='nav-menu'>
				<Dropbox>
					<NavList />
				</Dropbox>
			</div>
		</div>
	</div>
</nav>
<style lang='scss'>
	.nav {
		position: relative;
		padding-block: 1.2rem;

		background-color: var(--color-primary);
		color: var(--color-white);

		&-container {
			grid-column: 2 / 3;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-title {
			font-size: 1.5rem;
			font-weight: 700;
			margin: 0;

			@media screen and (min-width: 768px) {
				font-size: 2rem;
			}
		}

		&-list {
			display: none;

			justify-content: space-between;
			align-items: center;

			gap: 1.5rem;

			padding: 0;
			margin: 0;

			list-style: none;
			@media screen and (min-width: 968px) {
				display: flex;
			}
		}

		&-menu {
			display: block;

			@media screen and (min-width: 968px) {
				display: none;
			}
		}

		&-buttons {
			display: flex;
			align-items: center;
			gap: 1.2rem;
		}
	}
</style>
