---
import { navData as routes } from '../data/navData'
---

{
	routes.map(({ path, text }) => (
		<li class='nav-item'>
			<a
				class='nav-link'
				href={`${path}`}
				aria-label={`Go to the page: ${text}`}
				data-nav-link
			>
				{text}
			</a>
		</li>
	))
}
<style lang='scss'>
	.nav {
		&-link {
			--border-weight: 1px;

			text-decoration: none;
			color: var(--text-color);
			font-weight: 600;
			font-size: 1.2rem;

			border-bottom: var(--border-weight) solid transparent;
			transition: var(--color-transition);

			&:hover {
				color: var(--p-color);
				border-bottom: var(--border-weight) solid var(--p-color);
			}

			@media screen and (min-width: 768px) {
				--border-weight: 3px;
			}
		}
	}
</style>
